@import "tailwindcss";

/* Light mode theme (default) */
@theme {

    --color-primary: var(--color-blue-600);
    --color-secondary: var(--color-purple-600);
    --color-base: white;
    --color-text: black;
}

/* Dark mode theme (system preference) */
@media (prefers-color-scheme: dark) {
    :root {
        --color-base: black;
        --color-text: white;
    }
}

body {
    background-color: var(--color-base);
    color: var(--color-text);
}